/* CONFIG BODY */
body {
    background-color: #F7F5F4;
}

/* ADICIONANDO FONTE */
@font-face {
    font-family: coolvetica;
    src: url(fonte/coolvetica\ rg.otf);
}

/*usando flex para alinhar*/
.container {
    display: flex;
    
}
.containerMenu {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-around;
}


/* MENU */
div.menu {
    width: 20%;
    height: 95vh;
    border: 2px solid rgb(255, 255, 255);
    align-items: flex-start;
    margin-top: 1.1%;
    margin-left: 0.75%;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

/* LOGO MENU */
.logo {
    width: 75px;
    height: 75px;
    margin-top: 5%;
    border-radius: 50px;
    border: 3px solid black;
}

/* TITULO DA LOGO */
.titlelogo {
    position: static;
    font-size: 25px;
    white-space: nowrap;
    font-family: 'coolvetica';
    padding-top: 10px;
}

/* LINHA SEPARANDO A LOGO E O DASH */
hr.separa {
    margin-top: 5.2%;
}

/* DASHBOARD */
.dashboard {
    font-family: 'coolvetica';
    margin-bottom: 10px;
    padding: 25px;
    margin-top: -2.5%;
    padding-left: 5.7%;
    padding-right: 5.7%;
    text-align: center;
    position:static;
    font-size: 25px;
    white-space: nowrap;
    border-radius: 10px;
    transition: background 1s;
}
.delete {
    background-color: rgb(255, 255, 255);
    font-family: 'coolvetica';
    margin-bottom: 10px;
    padding: 25px;
    margin-top: -2.5%;
    padding-left: 5.7%;
    padding-right: 5.7%;
    text-align: center;
    position:static;
    font-size: 25px;
    white-space: nowrap;
    border-radius: 10px;
    border: none;
    width: 100%;
    transition: background 1s;
}

/*NAVBAR*/
.navBar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 1.1%;
    margin-bottom: auto;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 76%;
    font-family: 'coolvetica';
    font-size: 30px;
}
/*TEXTO*/
a{
    padding-right: 50%;
}

/* FUNDO */

.banco {
    width: 40vw;
    height: 60vh;
    box-shadow: rgba(176, 176, 189, 0.5) 0px 7px 29px 0px;
    margin-left: 40%;
    margin-top: 7%;
    padding: 1%;
    overflow-y: auto;
    background-color: white;
    scrollbar-width: none;
    border-radius: 10px;
    position: absolute;
}

/* DELETE */ 

.textDelete {
    font-size: 21px;
    font-family: 'coolvetica';
    text-align: center;
    color: #ebbe0d;
}

/* FORM */

.form, select{
    font-family: 'coolvetica';
    font-size: 19px;
    margin-top: 2.5%;
}

select {
    width: 80px;
    border-radius: 5px;
    margin-left: 1.5%;
    border: 1px solid black;
}

/* PESQUISA */
.buscar {
    border-radius: 25px;
    padding: 5px;
    padding-right: 3%;
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: 'coolvetica';
    background-color: #f1f0ef;
    border: none;
}